{% load static %}
<html>
	<head>
		<title>Blog Site</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	</head>


	<body>
		



		{% include 'navbar.html'%}




		<div class="container px-3 pt-5">
			<div class ="row">
				<div class='col-9'>

					<div class='list-group'>


						<div class="list-group-item mb-5">
							
							<h2><a href="{% url 'add_new_blog'%}">New to this site? Get Started</a></h2>
						</div>
						{% for a in data.blog%}
						<div  class ='list-group-item mb-3 p-0'>
						
							<div style="font-family: Tahoma,Courier New; font-size: 20px;" class="">
								<img src="{% static 'icon.jpg'%}" style="width: 30px; height:30px;display: none">
								<b>{{a.title}}</b>
							</div>
							<span class ='text-muted small'>
							    <i>&nbsp;&nbsp;{{a.date}}</i>
							</span>
							<br>
							<div class = "row" style="margin: 0px;">
								<div class="col-12 text-justify p-2 ">

									<div style="font-size: 13px; font-family: Tahoma; {% if a.content|length > 150%}height:100px; overflow:hidden{% endif%}">
										
										{{ a.content}}
									</div>
									{% if a.content|length > 150 %}
										<a href="{% url 'view_blog' id=a.pk %}">Read more</a>
									{%endif%}
								</div>
								<div class="col-0">
									


								</div>
							</div>

						</div>

						{% endfor%}

					</div>



				</div>
				<div class ='col-3'>

					<h4>Trending Topics</h4>

					<div class = 'list-group'>
						{% for a in data.trending%}

						<div class='list-group-item small'>
						
							<b><a href="{% url 'view_trending' id=a.id %}"># {{a.title}}</a></b>

						</div>

						{% endfor%}
					</div>
				</div>

			</div>
		</div>
		
	</body>


</html>