{% load static %}
<html>
	<head>
		<title>Blog Site</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	</head>


	<body>
		



		<!-- Navbar starts -->

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto">
		  <a class="navbar-brand" href="#">CMS</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		    </ul>
		  </div>
		</nav>

		<!-- Navbar starts ends-->




		<div class="container px-3 pt-5">
			<div class ="row">
				<div class='col-9'>

					<div class='list-group'>


						<div class="list-group-item mb-5">
							
							<h2><a href="{% url 'add_new_blog'%}">New to this site? Get Started</a></h2>
						</div>
						{% for a in data.blog%}
						<div  class ='list-group-item mb-3'>
						
							<span>
								<img src="{% static 'icon.jpg'%}" style="width: 30px; height:30px;">
								<b>&nbsp;&nbsp;&nbsp;{{a.title}}</b>
							</span>
							<span class ='text-muted small'>
							    <i>&nbsp;&nbsp;{{a.date}}</i>
							</span>
							<br><br>
							<div class ='lead' style="font-size: 13px;">
							
								{{a.content}}
							</div>




						</div>

						{% endfor%}

					</div>



				</div>
				<div class ='col-3'>

					<h4>Trending Topics</h4>

					<div class = 'list-group'>
						{% for a in data.trending%}

						<div class='list-group-item small'>
						
							<b># {{a.topic_name}}</b>

						</div>

						{% endfor%}
					</div>
				</div>

			</div>
		</div>
		
	</body>


</html>